#caja-cita {

    position: absolute;
    width: 90%;
    z-index: 2;
    margin-top: 3px;

    display: flex;
    flex-flow: column nowrap;
    align-content: space-between;
}

/*CABECERA*/
#cabecera-cita {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    justify-content: center;
}

#texto-cab {

    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    text-align: center;
}

#linea-cab-cita {

    position: absolute;
    left: 0;
    background-color: black;
    height: 30px;
    width: 3px;
    margin-left: 3px;
}

/*POSICIONAMIENTO CAJAS INFERIORES*/
#container-boton {

    margin-top: 4rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

/*mensaje informativo*/
#texto-info {

    flex-basis: 56%;
}

#texto-info>p {

    background-color: #CACACA;
    margin-left: 3px;
    padding: 3px;
    border-radius: 0.3rem;
}

/*BOTON CITA*/
#boton-cita>p {

    margin-right: 6px;
    padding: 0.9rem 1rem;
    background-color: #028090;
    color: white;
    border-radius: 0.3rem;
    cursor: pointer;
}

/*POSICIONAMIENTO POR ENCIMA DE LA IMAGEN*/
#content-cita {
    position: absolute;
}

/*BACKGROUND*/
#manos {

    width: 100%;
    height: 100%;
    border-radius: 0.3rem;
    z-index: 1;
}