#main-footer {

    background-color: #CACACA;
}

/* --- FONDO --- */

/*posicionamiento fondo*/
#fondo-footer {

    display: flex;

    flex-flow: column nowrap;
    justify-content: space-evenly;
}

/*cabecera del footer*/
#top {

    position: absolute;
    width: 150%;
    height: 10rem;
    margin-top: 0.5rem;
    left: -6.7rem;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    z-index: 2;
    background-color: #6f9cbc;
}

/*fondo colorido*/
#back {

    width: 100%;
    height: 10rem;
    margin-top: 4rem;
    background-color: #6f9cbc;
}

/* --- CONTENIDO --- */

/*estilos del texto del footer*/
.texto-footer {
    font-size: large;
    font-family: 'Roboto', sans-serif;
    margin-left: 0.3rem;
}

/*caja con el contenido*/
#content-footer {

    position: absolute;
    z-index: 8;
    margin-top: 6rem;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    background-color: #6f9cbc;
}

/*seccion redes sociales*/
#redes-sociales {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

/*seccion email*/
#email {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

/*estilos caja telefonos*/
#caja-tlf {

    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

#caja-tlf>p {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

/*caja politicas*/
#politicas {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

#politicas>span {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}