nav#main-menu>ul#menu-toggle {

    display: flex;
    flex-flow: column;
    padding-left: 2rem;
    position: absolute;
    top: 3.68rem;
    left: -20rem;
    width: 10rem;
    height: 100vh;
    background-color: #D5AC4E;
    margin: 0;
    opacity: 1;
    z-index: 10;
}