* {
    box-sizing: border-box;
}

body {
    /*font-family: 'Nunito Sans', sans-serif;*/
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    font-size: 12px;

    overflow-x: hidden;
}

/* -------- SECCIONES ESCRITORIO PRIMERO OCULTAS -------- */
#foto-footer {
    display: none;
}

#content-footer>header {
    display: none;
}

#nav-cab {
    display: none;
}

/* -------- CLASES -------- */
.header-leng {

    display: flex;
    flex-flow: row nowrap;

}

/*estilo de los iconos*/
img {
    width: 2rem;
    height: 2rem;
}

/* -------- ESTILOS CABECERA -------- */
#main-header {

    background-color: #28587B;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

/* ESTILOS HAMBURGUESA */
#hamburguesa>span {

    cursor: pointer;
    font-size: xx-large;
    padding-left: 1rem;
}

/* LOGO */
#logo {

    width: 10rem;
    height: 3rem;
    color: #BA6B30;

    display: flex;
    align-items: center;
    justify-content: center;
}

#logo>span {

    text-decoration: underline;
    font-size: large;

    font-family: 'Roboto, Light', sans-serif;
}

/* BUSCADOR */
#buscador {
    padding-right: 1rem;
}

#buscador>img {

    cursor: pointer;
}

/* MENU */
ul#menu-toggle {

    display: flex;
    flex-flow: column nowrap;
    padding-left: 2rem;
    position: absolute;
    top: 3rem;
    left: -20rem;
    width: 20rem;
    padding-left: 0;
    height: 100vh;
    background-color: #D5AC4E;
    margin: 0;
    z-index: 10;
}

ul#menu-toggle>li {

    /*quitamos estilos del lis*/
    list-style: none;

    /*posicionamiento*/
    left: 0;
    padding-left: 0.7rem;
    display: flex;
    flex-flow: column nowrap;
    align-self: center;
    width: 97%;
    margin-top: 1rem;

    /*estilos*/
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    border-bottom: 0.5px solid;
}

ul#menu-toggle>li:last-child {

    padding-left: 0rem;
    margin-top: 20rem;
    align-self: flex-end;
    border-bottom: 0;
}

#li-rrss>div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

/* -------- MAIN -------- */
main {
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}

/* --- BUSCADOR --- */
#caja-buscar {

    display: flex;
    flex-flow: row nowrap;
    background-color: #d5ac4e;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 0.6rem;
}

#caja-buscar>span {

    width: 0.5px;
    height: 2rem;
    background-color: black;
}

#inputBuscar {

    border: none;
    background-color: #d5ac4e;
    border-bottom: 0.5px solid;
    flex-basis: 80%;
    height: 1.5rem;
}

/* --- CUERPO --- */

/*curva*/
#top-content {

    position: absolute;
    width: 150%;
    height: 10rem;
    left: -20%;
    margin-top: 1rem;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    z-index: 1;
    background-color: #CACACA;
}

/*TITULO PRINCIPAL*/
#texto-cab {
    font-family: 'Roboto', sans-serif;
    color: #114B5F;
    font-size: large;
}

#linea-cab-cita {

    position: absolute;
    left: 0;
    background-color: #114B5F;
    height: 30px;
    width: 3px;
    margin-left: 5%;
}

/*CONTENIDO PAGINA*/
#contenido {

    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    background-color: #CACACA;
    align-items: center;
    width: 100%;
    margin-top: 3rem;
    z-index: 2;
}

#contenido>header {
    margin-bottom: 3rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

/*caja lenguaje(padre)*/
.lenguaje {

    background-color: white;
    width: 90%;
    padding: 0.5rem 0.3rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

/*header del lenguaje*/
.header-leng {
    display: flex;
    flex-flow: row;
    align-items: center;
    width: 100%;
}

/*cabecera lenguaje*/
.texto-cab {
    font-family: 'Roboto', sans-serif;
    color: #114B5F;
    font-size: x-large;
    margin-left: 1rem;
    padding-left: 1rem;
    border-left: 3px solid #114B5F;
    width: 100%;
}

/*logo*/
.logo-leng {
    width: 30%;
    height: 60%;
}

/*div ejemplos*/
.ejemplos {
    width: 60%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
}

.ejemplos>header {
    width: 100%;
}

/*cabecera "algunos[...]"*/
.texto-cab-ejemplos {
    font-family: 'Roboto', sans-serif;
    color: #114B5F;
    font-size: medium;
    margin-left: 1rem;
    border-left: 3px solid #114B5F;
    text-align: center;
}

/*cajita de ejemplo*/
.ejemplo {
    color: white;
    padding: 0.1% 10%;
    background-color: #028090;
    cursor: pointer;
}

/* -- CENTRAL -- */
#cab-central {
    text-align: end;
    width: 100%;
    padding-right: 1rem;
    border-right: 3px solid #114B5F;
    border-left: 0px;
    order: 0;
}

#ejemplos-central {
    order: 1;
}

#img-central {
    order: 2;
}

#seguridad {
    padding-left: 1rem;
    text-align: left;
}

/* -------- ESTILOS FOOTER -------- */
#main-footer {

    background-color: #CACACA;
}

/* --- FONDO --- */

/*posicionamiento fondo*/
#fondo-footer {

    display: flex;

    flex-flow: column nowrap;
    justify-content: space-evenly;
}

/*cabecera del footer*/
#top {

    position: absolute;
    width: 150%;
    height: 10rem;
    left: -20%;
    margin-top: 0.5rem;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    z-index: 2;
    background-color: #6f9cbc;
}

/*fondo colorido*/
#back {

    width: 100%;
    height: 10rem;
    margin-top: 4rem;
    background-color: #6f9cbc;
}

/* --- CONTENIDO --- */

/*estilos del texto del footer*/
.texto-footer {
    font-size: large;
    font-family: 'Roboto', sans-serif;
    margin-left: 0.3rem;
}

/*caja con el contenido*/
#content-footer {

    position: absolute;
    z-index: 8;
    margin-top: 9rem;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    background-color: #6f9cbc;
}

/*seccion redes sociales*/
#redes-sociales {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

/*seccion email*/
#email {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

/*estilos caja telefonos*/
#caja-tlf {

    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

#caja-tlf>p {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

/*caja politicas*/
#politicas {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

#politicas>span {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

@media screen and (min-width: 800px) {

    /*logo*/
    .logo-leng {
        width: 20%;
        height: 40%;
    }

    .header-leng {
        flex-basis: 30%;
    }

    .ejemplos {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-evenly;
        flex-basis: 45%;
    }

    .lenguaje {

        background-color: white;
        width: 90%;
        padding: 0.5rem 0.3rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 0.5rem;
    }

    /* -- CENTRAL -- */
    #cab-central {
        order: 2;
    }

    #ejemplos-central {
        order: -2;
    }

    #img-central {
        order: -1;
    }

    .texto-cab {
        font-size: 50px;
    }

    /* -------- ESTILOS FOOTER -------- */

    #e-t {
        order: -1;
    }

    #redes-sociales {

        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-items: center;
    }

    #caja-tlf {

        flex-flow: column nowrap;
    }

    #content-footer {

        margin-top: 15%;
        margin-left: 5%;
        width: 90%;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        z-index: 11;
    }

    #politicas {
        flex-flow: column nowrap;
    }

    #top {

        position: absolute;
        width: 150%;
        height: 10rem;
        left: -20%;
        margin-top: 0.5rem;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        z-index: 10;
        background-color: #6f9cbc;
    }

    #back {

        margin-top: 20%;
        background-color: #6f9cbc;
        z-index: 0;
    }
}


@media screen and (min-width: 1000px) {

    /* -------- ESTILOS CABECERA -------- */
    #main-header {
        flex-flow: row wrap;
    }

    #nav-cab {
        display: block;
        width: 100%;
        background-color: #6f9cbc;
    }

    #menu-cab {
        padding-left: 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .lugar {
        list-style: none;
        font-size: medium;
        font-family: 'Roboto', sans-serif;
        padding: 0.5rem 2rem;
        cursor: pointer;
    }

    .separador {

        list-style: none;
        padding: 0px;
        height: 2rem;
        width: 1px;
        background-color: black;
    }

    /* -------- ESTILOS CONTENIDO -------- */

    /* --- BUSCADOR --- */
    #caja-buscar {
        position: absolute;
        top: 0;
        right: 5%;
        width: 40%;
        z-index: 15;
        justify-content: center;
        background-color: transparent;
    }

    #caja-buscar>img {
        display: none;
    }

    #caja-buscar>input {
        margin-right: 6px;
        background-color: transparent;
    }

    /* ------ CONTENIDO ------ */
    #contenido {
        margin-top: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 1rem;
    }

    #top-content {
        display: none;
    }

    /* -------- ESTILOS FOOTER -------- */
    #main-footer {

        background-color: #6f9cbc;
        margin-top: 1rem;
    }

    #top {
        display: none;
    }

    #back {
        display: none;
    }

    #fondo-footer {

        display: flex;
        flex-flow: row;
        justify-content: center;
    }

    #content-footer {
        position: relative;
        margin: 0;
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        background-color: #6f9cbc;
    }

    #content-footer>header {
        display: flex;
        order: -2;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }

    #content-footer>header>p {
        padding: 2% 4%;
        font-size: x-large;
        text-align: center;
        border-left: 3px solid;
    }

    #redes-sociales {
        order: -1;
        flex-basis: 5%;
    }

    #e-t {
        flex-basis: 20%;
    }

    #caja-tlf {

        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    #politicas {
        flex-basis: 20%;
    }

    #foto-footer {
        display: block;
        width: 30%;
        height: 60%;
    }
}