* {
    box-sizing: border-box;
}

body {
    /*font-family: 'Nunito Sans', sans-serif;*/
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    font-size: 12px;

    overflow-x: hidden;
}

/* -------- SECCIONES ESCRITORIO PRIMERO OCULTAS -------- */
#foto-footer {
    display: none;
}

#content-footer>header {
    display: none;
}

#nav-cab {
    display: none;
}

/* -------- CLASES -------- */
a {
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.error {
    visibility: hidden;
    font-size: medium;
    color: red;
}

.fecha {
    background-color: #CACACA;
    padding: 1rem 0.5rem;
    width: 30%;
    text-align: center;
    cursor: pointer;
    border-radius: 6px;
}

.fecha:hover {
    background-color: #383838;
    color: white;
}

/*estilo de los iconos*/
img {
    width: 2rem;
    height: 2rem;
}

/* -------- ESTILOS CABECERA -------- */
#main-header {

    background-color: #28587B;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

/* ESTILOS HAMBURGUESA */
#hamburguesa>span {

    cursor: pointer;
    font-size: xx-large;
    padding-left: 1rem;
}

/* LOGO */
#logo {

    width: 10rem;
    height: 3rem;
    color: #BA6B30;

    display: flex;
    align-items: center;
    justify-content: center;
}

#logo>span {

    text-decoration: underline;
    font-size: large;

    font-family: 'Roboto, Light', sans-serif;
}

/* BUSCADOR */
#buscador {
    padding-right: 1rem;
}

#buscador>img {

    cursor: pointer;
}

/* MENU */
ul#menu-toggle {

    display: flex;
    flex-flow: column nowrap;
    padding-left: 2rem;
    position: absolute;
    top: 3rem;
    left: -20rem;
    width: 20rem;
    padding-left: 0;
    height: 100vh;
    background-color: #D5AC4E;
    margin: 0;
    z-index: 20;
}

ul#menu-toggle>li {

    /*quitamos estilos del lis*/
    list-style: none;

    /*posicionamiento*/
    left: 0;
    padding-left: 0.7rem;
    display: flex;
    flex-flow: column nowrap;
    align-self: center;
    width: 97%;
    margin-top: 1rem;

    /*estilos*/
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    border-bottom: 0.5px solid;
}

ul#menu-toggle>li:last-child {

    padding-left: 0rem;
    margin-top: 20rem;
    align-self: flex-end;
    border-bottom: 0;
}

#li-rrss>div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

/* -------- MAIN -------- */
main {
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}

/* --- BUSCADOR --- */
#caja-buscar {

    display: flex;
    flex-flow: row nowrap;
    background-color: #d5ac4e;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 0.6rem;
}

#caja-buscar>span {

    width: 0.5px;
    height: 2rem;
    background-color: black;
}

#inputBuscar {

    border: none;
    background-color: #d5ac4e;
    border-bottom: 0.5px solid;
    flex-basis: 80%;
    height: 1.5rem;
}

#inputBuscar:focus {
    outline: none;
}

/* --- CUERPO --- */

#top-content {

    position: absolute;
    width: 150%;
    height: 10rem;
    left: -20%;
    margin-top: 1rem;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    z-index: 1;
    background-color: #CACACA;
}

#contenido {

    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    background-color: #CACACA;
    align-items: center;
    width: 100%;
    margin-top: 3rem;
    z-index: 2;
}

#contenido>header {
    background-color: #CACACA;
    display: flex;
    width: 90%;
    flex-flow: row nowrap;
    justify-content: center;
}

#texto-cab {

    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    text-align: center;
    border-left: 3px solid #114B5F;
    color: #114B5F;
}

#contenido>p {
    text-align: justify;
    width: 90%;
    font-size: medium;

}

#formulario {

    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}

#formulario>div {
    flex-basis: 100%;
}

#imputs {
    display: flex;
    flex-flow: row wrap;
    background-color: #CACACA;
    justify-content: space-evenly;
    align-items: center;
}

#imputs>p {
    width: 80%;
}

#imputs>p>input {
    width: 100%;
    height: 2.5rem;
    font-size: medium;
}

#caja-fechas {
    background-color: white;
    padding: 3px;
}

#caja-fechas>p {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}

#caja-fechas>div {
    padding: 3px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

#boton-cita {

    background-color: #114B5F;
    border-radius: 6px;
    color: white;
    padding: 1rem 3rem;
    cursor: pointer;
    align-self: flex-end;
    margin-top: 3rem;
    border: none;
}

/* -------- ESTILOS FOOTER -------- */
#main-footer {

    background-color: #CACACA;
}

/* --- FONDO --- */

/*posicionamiento fondo*/
#fondo-footer {

    display: flex;

    flex-flow: column nowrap;
    justify-content: space-evenly;
}

/*cabecera del footer*/
#top {

    position: absolute;
    width: 150%;
    height: 10rem;
    left: -20%;
    margin-top: 0.5rem;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    z-index: 2;
    background-color: #6f9cbc;
}

/*fondo colorido*/
#back {

    width: 100%;
    height: 10rem;
    margin-top: 4rem;
    background-color: #6f9cbc;
}

/* --- CONTENIDO --- */

/*estilos del texto del footer*/
.texto-footer {
    font-size: large;
    font-family: 'Roboto', sans-serif;
    margin-left: 0.3rem;
}

/*caja con el contenido*/
#content-footer {

    position: absolute;
    z-index: 8;
    margin-top: 9rem;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    background-color: #6f9cbc;
}

/*seccion redes sociales*/
#redes-sociales {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

/*fila email y telefonos*/
#e-t {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

/*seccion email*/
#email {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

/*telefonos*/
#e-t>p>a {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

/*caja politicas*/
#politicas {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

#politicas>span {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}


@media screen and (min-width: 800px) {

    #formulario>div {
        flex-basis: 45%;
    }

    #imputs>p {
        width: 80%;
        display: flex;
        flex-flow: column;
    }

    #imputs>p>span {
        order: -1;
    }

    /* -------- ESTILOS FOOTER -------- */

    #e-t {
        order: -1;
    }

    #redes-sociales {

        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-items: center;
    }

    #caja-tlf {

        flex-flow: column nowrap;
    }

    #content-footer {

        margin-top: 15%;
        margin-left: 5%;
        width: 90%;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        z-index: 11;
    }

    #politicas {
        flex-flow: column nowrap;
    }

    #top {

        position: absolute;
        width: 150%;
        height: 10rem;
        left: -20%;
        margin-top: 0.5rem;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        z-index: 10;
        background-color: #6f9cbc;
    }

    #back {

        margin-top: 20%;
        background-color: #6f9cbc;
        z-index: 0;
    }
}

@media screen and (min-width: 1000px) {

    /* -------- ESTILOS CABECERA -------- */
    #main-header {
        flex-flow: row wrap;
    }

    #nav-cab {
        display: block;
        width: 100%;
        background-color: #6f9cbc;
    }

    #menu-cab {
        padding-left: 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .lugar {
        list-style: none;
        font-size: medium;
        font-family: 'Roboto', sans-serif;
        padding: 0.5rem 2rem;
        cursor: pointer;
    }

    .separador {

        list-style: none;
        padding: 0px;
        height: 2rem;
        width: 1px;
        background-color: black;
    }

    /* -------- ESTILOS CONTENIDO -------- */

    /* --- BUSCADOR --- */
    #caja-buscar {
        position: absolute;
        top: 0;
        right: 5%;
        width: 40%;
        z-index: 15;
        justify-content: center;
        background-color: transparent;
    }

    #caja-buscar>img {
        display: none;
    }

    #caja-buscar>input {
        margin-right: 6px;
        background-color: transparent;
    }

    /* ------ CONTENIDO ------ */
    #contenido {
        margin-top: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 1rem;
    }

    #top-content {
        display: none;
    }

    /* -------- ESTILOS FOOTER -------- */
    #main-footer {

        background-color: #6f9cbc;
        margin-top: 1rem;
    }

    #top {
        display: none;
    }

    #back {
        display: none;
    }

    #fondo-footer {

        display: flex;
        flex-flow: row;
        justify-content: center;
    }

    #content-footer {
        position: relative;
        margin: 0;
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        background-color: #6f9cbc;
    }

    #content-footer>header {
        display: flex;
        order: -2;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        width: 98%;
    }

    #content-footer>header>p {
        padding: 2% 4%;
        font-size: x-large;
        text-align: center;
        border-left: 3px solid;
    }

    #redes-sociales {
        order: -1;
        flex-basis: 5%;
        height: auto;
        justify-content: space-between;
    }

    #e-t {
        flex-basis: 20%;
        justify-content: space-between;
    }

    #email {
        justify-content: flex-start;
    }

    #politicas {
        flex-basis: 20%;
        align-items: flex-end;
        margin-left: 15%;
    }

    #foto-footer {
        display: block;
        width: 100%;
        height: 100%;
        margin-left: 40%;
    }
}