* {
    box-sizing: border-box;
}

body {
    /*font-family: 'Nunito Sans', sans-serif;*/
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    font-size: 12px;

    overflow-x: hidden;
}

#fondo-cookies {
    position: absolute;
    z-index: 98;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 68%;
    opacity: 0.8;
    background-color: #CACACA;
}

#cookies {

    position: absolute;
    z-index: 99;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 68%;

    padding: 1rem;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
}

#cookies>h2 {
    color: black;
}

#acepto {
    width: 100%;
    margin-top: 1rem;
}

#acepto>div {

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.activar {
    width: 20%;
    height: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.activar>div {
    width: 100%;
}

.circulo {
    width: 5%;
    height: 5%;

    max-width: 5%;
    max-height: 5%;

    border-radius: 100%;
    background-color: #BA6B30;
    color: transparent;
    position: absolute;
}

.rail {
    width: 100%;
    height: 10%;
    background-color: white;
    border-radius: 1rem;
    color: transparent;
}

#cookies>button {
    margin-top: 1rem;
    align-self: flex-end;
    background-color: #028090;
    border: none;
    padding: 0.5rem 2rem;
}

/* -------- SECCIONES ESCRITORIO PRIMERO OCULTAS -------- */
#foto-footer {
    display: none;
}

#content-footer>header {
    display: none;
}

#nav-cab {
    display: none;
}

#slider {
    display: none;
}

#manitas {
    display: none;
}

/* ---------- CLASES ---------- */

nav>ul>li>a {
    cursor: pointer;
    color: black;
    text-decoration: none;
}

/*seccion de la cabecera de los slots*/
.header-slots {

    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    justify-content: center;
}

/*seccion de la cabecera con fondo coloreado*/
.header-slots-fondo {

    display: flex;
    position: absolute;
    width: 100%;
    flex-flow: row nowrap;
    justify-content: center;
    left: 0;
    margin-top: 3rem;
}

/*texto de la cabecera de las diferentes secciones*/
.texto-cab {

    font-size: xx-large;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    text-align: center;
    color: #114B5F;
    border-left: 3px solid #114B5F;
}

/*punta "fondo de secciones"*/
.punta {
    width: 0;
    height: 0;
    border-right: 30rem solid transparent;
    border-top: 1px solid transparent;
    border-left: 30rem solid transparent;
    border-bottom: 4rem solid #CACACA;
    border-radius: 6px;
    margin-top: 1rem;
}

/*estilo de los iconos*/
img {
    width: 2rem;
    height: 2rem;
}

/* -------- ESTILOS CABECERA -------- */
#main-header {

    background-color: #28587B;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

/* ESTILOS HAMBURGUESA */
#hamburguesa>span {

    cursor: pointer;
    font-size: xx-large;
    padding-left: 1rem;
}

/* LOGO */
#logo {

    width: 10rem;
    height: 3rem;
    color: #BA6B30;

    display: flex;
    align-items: center;
    justify-content: center;
}

#logo>span {

    text-decoration: underline;
    font-size: large;

    font-family: 'Roboto, Light', sans-serif;
}

/* BUSCADOR */
#buscador {
    padding-right: 1rem;
}

#buscador>img {

    cursor: pointer;
}

/* MENU */
ul#menu-toggle {

    display: flex;
    flex-flow: column nowrap;
    padding-left: 2rem;
    position: absolute;
    top: 3rem;
    left: -20rem;
    width: 20rem;
    padding-left: 0;
    height: 100vh;
    background-color: #D5AC4E;
    margin: 0;
    z-index: 10;
}

ul#menu-toggle>li {

    /*quitamos estilos del lis*/
    list-style: none;

    /*posicionamiento*/
    left: 0;
    padding-left: 0.7rem;
    display: flex;
    flex-flow: column nowrap;
    align-self: center;
    width: 97%;
    margin-top: 1rem;

    /*estilos*/
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    border-bottom: 0.5px solid;
}

ul#menu-toggle>li:last-child {

    padding-left: 0rem;
    margin-top: 20rem;
    align-self: flex-end;
    border-bottom: 0;
}

#li-rrss>div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;

    /*
    align-self: flex-end;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;*/
}

/* -------- ESTILOS CUERPO PRINCIPAL -------- */
main {

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
}

/* --- BUSCADOR --- */
#caja-buscar {

    display: flex;
    flex-flow: row nowrap;
    background-color: #d5ac4e;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 0.6rem;
}

#inputBuscar {

    border: none;
    background-color: #d5ac4e;
    border-bottom: 0.5px solid;
    flex-basis: 90%;
    font-size: medium;
    height: 1.5rem;
}

#inputBuscar:focus {
    outline: none;
}

/* --- CAJA CITA --- */
#caja-cita {

    width: 90%;
    z-index: 2;
    margin-top: 3px;

    display: flex;
    flex-flow: column nowrap;
}

/*CABECERA*/
#cabecera-cita {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    justify-content: center;
}

#texto-cab {

    font-size: xx-large;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    text-align: center;
    border-left: 3px solid;
}

/*POSICIONAMIENTO CAJAS INFERIORES*/
#container-boton {

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

/*mensaje informativo*/
#texto-info {

    flex-basis: 56%;
}

#texto-info>p {

    background-color: #CACACA;
    margin-left: 3px;
    padding: 3px;
    border-radius: 0.3rem;
}

/*BOTON CITA*/
#boton-cita>p {

    margin-right: 6px;
    padding: 0.9rem 1rem;
    background-color: #028090;
    color: white;
    border-radius: 0.3rem;
    cursor: pointer;
}

/*POSICIONAMIENTO POR ENCIMA DE LA IMAGEN*/
#content-cita {
    position: absolute;
    width: 90%;
    height: 25%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

/*BACKGROUND*/
#manos {

    width: 100%;
    height: 100%;
    border-radius: 0.3rem;
}

#manitas {
    width: 100%;
    height: 100%;
    border-radius: 0.3rem;
}

/* --- PRESENTACION --- */
#presentacion {

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;

    width: 90%;
    margin-top: 10px;
}

#presentacion>p {
    text-align: justify;
}

/* --- AREAS PRACTICA --- */
#areas-trabajo {

    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: #CACACA;
}

#areas-trabajo>header {
    display: flex;
    width: 90%;
}

.ambito {
    background-color: white;
    border-radius: 6px;
    width: 90%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 0.5rem 0;
}

.ambito>img {
    width: 100%;
    height: 30%;
    border-radius: 6px;
}

.ambito>footer {
    display: flex;
    width: 100%;
}

.cab-ambito {
    width: 100%;
    text-align: center;
    font-size: x-large;
    font-family: 'Roboto', sans-serif;
    color: #028090;
    border-left: 3px solid #028090;
}

/* --- CAJA VISITANOS --- */
#localizacion {
    width: 100%;
    background-color: #CACACA;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#localizacion>header {
    display: flex;
    width: 90%;
}

#localizacion>img {
    margin-top: 1rem;
    width: 90%;
    height: 30%;
}

/* -------- ESTILOS FOOTER -------- */
#main-footer {

    background-color: #CACACA;
}

/* --- FONDO --- */

/*posicionamiento fondo*/
#fondo-footer {

    display: flex;

    flex-flow: column nowrap;
    justify-content: space-evenly;
}

/*cabecera del footer*/
#top {

    position: absolute;
    width: 150%;
    height: 10rem;
    left: -20%;
    margin-top: 0.5rem;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    z-index: 2;
    background-color: #6f9cbc;
}

/*fondo colorido*/
#back {

    width: 100%;
    height: 10rem;
    margin-top: 4rem;
    background-color: #6f9cbc;
}

/* --- CONTENIDO --- */

/*estilos del texto del footer*/
.texto-footer {
    font-size: large;
    font-family: 'Roboto', sans-serif;
    margin-left: 0.3rem;
}

/*caja con el contenido*/
#content-footer {

    position: absolute;
    z-index: 8;
    margin-top: 9rem;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    background-color: #6f9cbc;
}

/*seccion redes sociales*/
#redes-sociales {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

/*fila email y telefonos*/
#e-t {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

/*seccion email*/
#email {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

/*telefonos*/
#e-t>p {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

/*caja politicas*/
#politicas {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

#politicas>span {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}


@media screen and (min-width: 800px) {

    #fondo-cookies {

        height: 23rem;
    }

    #cookies {
        height: 23rem;
    }

    #content-cita {
        height: auto;
    }

    #container-boton {
        flex-flow: column;
    }

    #texto-info {
        display: none;
    }

    #boton-cita {
        align-self: flex-end;
        margin-top: 10%;
    }

    #manos {
        display: none;
    }

    #manitas {
        display: block;
    }

    .punta {
        width: 0;
        height: 0;
        border-right: 80rem solid transparent;
        border-top: 1px solid transparent;
        border-left: 80rem solid transparent;
        border-bottom: 4rem solid #CACACA;
        border-radius: 6px;
        margin-top: 1rem;
    }

    /* -------- ESTILOS FOOTER -------- */
    #e-t {
        order: -1;
        flex-flow: column;
    }

    #e-t>p {
        align-self: flex-start;
    }

    #redes-sociales {

        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-items: center;
    }

    #content-footer {

        margin-top: 15%;
        margin-left: 5%;
        width: 90%;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        z-index: 11;
    }

    #politicas {
        flex-flow: column nowrap;
    }

    #top {

        position: absolute;
        width: 150%;
        height: 10rem;
        left: -20%;
        margin-top: 0.5rem;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        z-index: 10;
        background-color: #6f9cbc;
    }

    #back {

        margin-top: 20%;
        background-color: #6f9cbc;
        z-index: 0;
    }
}

@media screen and (min-width: 1000px) {

    /* -------- ESTILOS CABECERA -------- */
    #main-header {
        flex-flow: row wrap;
    }

    #nav-cab {
        display: block;
        width: 100%;
        background-color: #6f9cbc;
    }

    #menu-cab {
        padding-left: 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .lugar {
        list-style: none;
        font-size: medium;
        font-family: 'Roboto', sans-serif;
        padding: 0.5rem 2rem;
        cursor: pointer;
    }

    .separador {

        list-style: none;
        padding: 0px;
        height: 2rem;
        width: 1px;
        background-color: black;
    }

    /* -------- ESTILOS CONTENIDO -------- */

    /* --- BUSCADOR --- */
    #caja-buscar {
        position: absolute;
        top: 0;
        right: 5%;
        width: 40%;
        z-index: 15;
        justify-content: center;
        background-color: transparent;
    }

    #caja-buscar>img {
        display: none;
    }

    #caja-buscar>input {
        margin-right: 6px;
        background-color: transparent;
    }

    /* ------ CONTENIDO ------ */
    #contenido {
        margin-top: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 1rem;
    }

    .punta {
        display: none;
    }

    #areas-trabajo {
        margin-top: 1rem;
        padding-top: 1rem;
    }

    #localizacion {
        display: none;
    }

    .ambito {
        display: none;
    }

    /* ----- SLIDER ----- */

    #slider {
        display: inline;
        width: 100%;
    }

    .contenedor-slider {
        width: 100%;
    }

    .img-slider {
        width: 100%;
    }

    .slider-wrapper {
        z-index: 1;
        position: relative;
        width: 100%;
        height: 40rem;
        background: #FFF;
        border: 5px solid #4b5973;
        overflow: hidden;
    }

    .slider-wrapper li {
        display: none;
    }

    .slider-wrapper .current-slide {
        display: block;
    }

    .slider-shadow {
        width: 100%;
        height: 15px;
        position: relative;
    }

    .slider-shadow:after,
    .slider-shadow:before {
        content: '';
        position: absolute;
        background: #171c24;
        height: 100%;
        width: 50%;
        left: 10px;
        top: -20px;
        -webkit-transform: rotate(-4deg);
        -ms-transform: rotate(-4deg);
        -o-transform: rotate(-4deg);
        transform: rotate(-4deg);
        -webkit-box-shadow: 0 0 15px 8px #171c24;
        box-shadow: 0 0 15px 8px #171c24;
    }

    .slider-shadow:before {
        right: 10px;
        left: auto;
        -webkit-transform: rotate(4deg);
        -ms-transform: rotate(4deg);
        -o-transform: rotate(4deg);
        transform: rotate(4deg);
    }

    .slider-wrapper img {
        position: absolute;
        max-width: 100%;
        height: auto;
        top: 0;
        left: 0;
    }


    /**
   * ---[Caption] ---------------------- 
   **/

    .slider-wrapper .caption {
        position: absolute;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.65);
        width: 100%;
        padding: 10px;
        color: #FFF;
        -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
        transform: translateY(100%);
        opacity: 0;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }

    .slider-wrapper li:hover .caption {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }

    .slider-wrapper h2 {
        color: #00c5b9;
        font-size: 2em;
        font-weight: 400;
        margin-bottom: 6px;
        text-align: center;
    }

    .slider-wrapper p {
        font-size: 1.6em;
        font-weight: 300;
        line-height: 1.4em;
    }


    /**
   * ---[Botones-Control] ---------------------- 
   **/

    .control-buttons {
        margin-top: 15px;
        text-align: center;
    }

    .control-buttons li {
        cursor: pointer;
        display: inline-block;
        background: #424f66;
        text-indent: -99999px;
        height: 12px;
        width: 12px;
        margin: 0 6px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
    }

    .control-buttons li.active {
        background: #00c5b9;
    }

    .authors {
        text-align: center;
        color: #7a8699;
        display: block;
        font-size: 1.6em;
        font-weight: 300;
        margin-top: 80px;
        font-size: 300;
    }

    /* ESTILOS DE LOS BOTONES DE "MOVIMIENTO" */

    #boton-izquierda {
        /*posicionamiento boton*/
        position: absolute;
        margin-top: 2%;
        left: 1%;

        /*para que este por encima de las imagenes*/
        z-index: 2;

        /*estilo boton*/
        background-color: grey;
        opacity: 0.7;
        padding: 0.7rem;
        border-radius: 0.3rem;
        cursor: pointer;
        height: 79%;
        font-size: xxx-large;
        display: flex;
        flex-flow: column;
        justify-content: center;
    }


    #boton-derecha {
        /*posicionamiento boton*/
        position: absolute;
        margin-top: 2%;
        right: 1%;

        /*para que este por encima de las imagenes*/
        z-index: 2;

        /*estilo boton*/
        background-color: grey;
        opacity: 0.7;
        padding: 0.7rem;
        border-radius: 0.3rem;
        cursor: pointer;
        height: 79%;
        font-size: xxx-large;
        display: flex;
        flex-flow: column;
        justify-content: center;
    }

    /*EVENTO HOVER DE BOTONES*/
    #boton-izquierda:hover {
        opacity: 1;
    }

    #boton-derecha:hover {
        opacity: 1;
    }

    /* -------- ESTILOS FOOTER -------- */
    #main-footer {

        background-color: #6f9cbc;
        margin-top: 1rem;
    }

    #top {
        display: none;
    }

    #back {
        display: none;
    }

    #fondo-footer {

        display: flex;
        flex-flow: row;
        justify-content: center;
    }

    #content-footer {
        position: relative;
        margin: 0;
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        background-color: #6f9cbc;
    }

    #content-footer>header {
        display: flex;
        order: -2;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        width: 98%;
    }

    #content-footer>header>p {
        padding: 2% 4%;
        font-size: x-large;
        text-align: center;
        border-left: 3px solid;
    }

    #redes-sociales {
        order: -1;
        flex-basis: 5%;
        height: auto;
    }

    #e-t {
        flex-basis: 20%;
        justify-content: center;
    }

    #email {
        justify-content: flex-start;
    }

    #politicas {
        flex-basis: 20%;
    }

    #foto-footer {
        display: block;
        width: 30%;
        height: 60%;
    }
}