* {
    box-sizing: border-box;
}

body {
    /*font-family: 'Nunito Sans', sans-serif;*/
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    font-size: 12px;

    overflow-x: hidden;
}

/* ---------- CLASES ---------- */
/*seccion de la cabecera de los slots*/
.header-slots {

    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    justify-content: center;
}

/*seccion de la cabecera con fondo coloreado*/
.header-slots-fondo {

    display: flex;
    position: absolute;
    width: 100%;
    flex-flow: row nowrap;
    justify-content: center;
    left: 0;
    margin-top: 3rem;
}

/*barra vertical*/
span.linea-cab-cita {
    position: absolute;

    height: 30px;
    width: 3px;
    left: 0;
    margin-left: 18px;
    background-color: #114B5F;

}

/*texto de la cabecera de las diferentes secciones*/
.texto-cab {

    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    text-align: center;
    color: #114B5F;
}

/*punta "fondo de secciones"*/
.punta {
    width: 0;
    height: 0;
    border-right: 20rem solid transparent;
    border-top: 1px solid transparent;
    border-left: 20rem solid transparent;
    border-bottom: 4rem solid #CACACA;
    border-radius: 6px;
}

/*imagenes dentro de las secciones*/
.img-ambito {
    width: 24.5rem;
    height: 12rem;
    border-radius: 6px;
}

/*caja de foto+footer*/
.ambito {

    display: flex;
    flex-flow: column;
    width: 90%;
    padding-top: 1rem;
    padding-bottom: 10px;
    justify-content: space-evenly;

    background-color: #CACACA;
}

/*fondo balnco uniforme para el sector del area*/
.fondo {
    width: 24.5rem;
    border-radius: 6px;
    margin-left: 122px;
    background-color: white;
}

/*barra vertical con fondo(color azul claro)*/
.linea-cab-cita-ambito {

    position: absolute;

    height: 30px;
    width: 3px;
    left: 0;
    margin-left: 18px;
    background-color: #028090;
}

.fondo>footer {
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
    padding-bottom: 6px;
}

/*texto h color azul*/
.texto-cab-ambito {

    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    text-align: center;
    color: #028090;
}

/*estilo de los iconos*/
img {
    width: 2rem;
    height: 2rem;
}

/* -------- ESTILOS CABECERA -------- */
#main-header {

    background-color: #28587B;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

/* ESTILOS HAMBURGUESA */
#hamburguesa>span {

    cursor: pointer;
    padding: 1rem;
    font-size: xx-large;
}

/* LOGO */
#logo {

    width: 10rem;
    height: 3rem;
    color: #BA6B30;

    display: flex;
    align-items: center;
    justify-content: center;
}

#logo>span {

    text-decoration: underline;
    font-size: large;

    font-family: 'Roboto, Light', sans-serif;
}

/* BUSCADOR */
#buscador>img {

    cursor: pointer;
    padding: 1rem;
}

/* MENU */
ul#menu-toggle {

    display: flex;
    flex-flow: column nowrap;
    padding-left: 2rem;
    position: absolute;
    top: 3rem;
    left: -20rem;
    width: 20rem;
    padding-left: 0;
    height: 100vh;
    background-color: #D5AC4E;
    margin: 0;
    opacity: 1;
    z-index: 10;
}

ul#menu-toggle>li {

    /*quitamos estilos del lis*/
    list-style: none;

    /*posicionamiento*/
    left: 0;
    padding-left: 0.7rem;
    display: flex;
    flex-flow: column nowrap;
    align-self: center;
    width: 97%;
    margin-top: 1rem;

    /*estilos*/
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    border-bottom: 0.5px solid;
}

ul#menu-toggle>li:last-child {

    padding-left: 0rem;
    margin-top: 20rem;
    align-self: flex-end;
    border-bottom: 0;
}

#li-rrss>div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;

    /*
    align-self: flex-end;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;*/
}

/* -------- ESTILOS CUERPO PRINCIPAL -------- */
main {

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
}

/* --- CAJA CITA --- */
#caja-cita {

    width: 90%;
    z-index: 2;
    margin-top: 3px;

    display: flex;
    flex-flow: column nowrap;
}

/*CABECERA*/
#cabecera-cita {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    justify-content: center;
}

#texto-cab {

    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    text-align: center;
}

#linea-cab-cita {

    position: absolute;
    left: 0;
    background-color: black;
    height: 30px;
    width: 3px;
    margin-left: 3px;
}

/*POSICIONAMIENTO CAJAS INFERIORES*/
#container-boton {

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    align-self: flex-end;
}

/*mensaje informativo*/
#texto-info {

    flex-basis: 56%;
}

#texto-info>p {

    background-color: #CACACA;
    margin-left: 3px;
    padding: 3px;
    border-radius: 0.3rem;
}

/*BOTON CITA*/
#boton-cita>p {

    margin-right: 6px;
    padding: 0.9rem 1rem;
    background-color: #028090;
    color: white;
    border-radius: 0.3rem;
    cursor: pointer;
}

/*POSICIONAMIENTO POR ENCIMA DE LA IMAGEN*/
#content-cita {
    position: absolute;
    width: 90%;
    height: 13.5rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

/*BACKGROUND*/
#manos {

    width: 100%;
    height: 100%;
    border-radius: 0.3rem;
    z-index: 1;
}

/* --- PRESENTACION --- */
#presentacion {

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;

    width: 90%;
    margin-top: 10px;
}

#presentacion>p {
    text-align: justify;
}

/* --- AREAS PRACTICA --- */
#areas-trabajo {

    left: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

/* --- CAJA VISITANOS --- */
#localizacion {
    margin-top: 6px;
}

#mapa {

    padding-top: 3rem;
    background-color: #CACACA;
    display: flex;
    justify-content: center;
}

#mapa>img {

    width: 24rem;
    height: 12rem;
}

/* -------- ESTILOS FOOTER -------- */
#main-footer {

    background-color: #CACACA;
}

/* --- FONDO --- */

/*posicionamiento fondo*/
#fondo-footer {

    display: flex;

    flex-flow: column nowrap;
    justify-content: space-evenly;
}

/*cabecera del footer*/
#top {

    position: absolute;
    width: 150%;
    height: 10rem;
    margin-top: 0.5rem;
    left: -6.7rem;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    z-index: 2;
    background-color: #6f9cbc;
}

/*fondo colorido*/
#back {

    width: 100%;
    height: 10rem;
    margin-top: 4rem;
    background-color: #6f9cbc;
}

/* --- CONTENIDO --- */

/*estilos del texto del footer*/
.texto-footer {
    font-size: large;
    font-family: 'Roboto', sans-serif;
    margin-left: 0.3rem;
}

/*caja con el contenido*/
#content-footer {

    position: absolute;
    z-index: 8;
    margin-top: 6rem;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    background-color: #6f9cbc;
}

/*seccion redes sociales*/
#redes-sociales {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

/*seccion email*/
#email {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

/*estilos caja telefonos*/
#caja-tlf {

    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

#caja-tlf>p {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

/*caja politicas*/
#politicas {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

#politicas>span {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}